---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
const images = await Astro.glob("/src/assets/images/*").then((files) => {
	return files.map((file) => file.default);
});
---

<Layout title="Slideshow">
	<div class="slideshow-container">
		{
			images.map((image) => (
				<div class="mySlides fade">
					<img src={image.src} alt="" loading="lazy"/>
				</div>
			))
		}
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
</Layout>
<script is:inline>
	let slideIndex = 0;
	let timeout;
	showSlides(slideIndex);
	setupTouchEvents();
	setupTimeout();

	// Next/previous controls
	function plusSlides(n) {
		showSlides((slideIndex += n));
	}

	function showSlides(n) {
		let slides = document.getElementsByClassName("mySlides");
		slideIndex = (slideIndex + slides.length) % slides.length 
		
		// set all slides to display none
		for (let slide of slides){
			slide.setAttribute("style", "display: none")
		}
		slides[slideIndex].setAttribute("style", "display: block");
	}

	function timeoutHandler(){
		showSlides((slideIndex = 0))
	}

	function setupTouchEvents() {
        let startX;

        window.addEventListener('touchstart', (e) => {
            startX = e.touches[0].clientX;
        });

        window.addEventListener('touchend', (e) => {
            const endX = e.changedTouches[0].clientX;
            const deltaX = startX - endX;
            if (deltaX > 50) {
                plusSlides(1);
            } else if (deltaX < -50) {
				plusSlides(-1)
			}
        });
    }

	function resetTimeout(){
		clearTimeout(timeout)
		timeout = setTimeout(timeoutHandler, timeout=10000)
	}

	function setupTimeout(){
		window.addEventListener('touchstart', resetTimeout)
		window.addEventListener('touchmove', resetTimeout)
		window.addEventListener('mousemove', resetTimeout)
		window.addEventListener('keypress', resetTimeout)
		resetTimeout()
	}
</script>
<style>
	
	/* Slideshow container */
	.slideshow-container {
		position: relative;
	}

	/* Hide the images by default */
	.mySlides {
		display: none;
		text-align: center;
	}

	.mySlides img {
		max-height: 100vh;
		max-width: 100vw;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 3s;
	}

	@keyframes fade {
		from {
			opacity: 0.5;
		}
		to {
			opacity: 1;
		}
	}
</style>
